---
  openapi: "3.0.3"
  info: 
    title: "Cliniserve CARE API"
    version: "0.0.1"
    contact: 
      name: "Jaakko Nurkka"
      email: "jaakko@cliniserve.de"
  servers: 
    - 
      url: "https://api.cliniserve.de"
      description: "Production"
    - 
      url: "http://api.staging.cliniserve.de"
      description: "Staging"
    - 
      url: "http://localhost:8080"
      description: "Development"
  paths: 
    /health: 
      get: 
        summary: "Healthcheck"
        responses: 
          200: 
            description: "OK"
            content: 
              application/json: 
                schema: 
                  title: "Healthcheck success"
                  type: "object"
                  additionalProperties: false
                  required: 
                    - "status"
                  properties: 
                    status: 
                      type: "string"
                      enum: 
                        - "ok"
          400: 
            description: "Invalid input"
            content: 
              application/json: 
                schema: 
                  type: "object"
                  additionalProperties: false
                  required: 
                    - "status"
                  properties: 
                    status: 
                      type: "string"
                      enum: 
                        - "invalid-arguments"
          500: 
            description: "Unexpected error"
            content: 
              application/json: 
                schema: 
                  type: "object"
                  additionalProperties: false
                  required: 
                    - "status"
                  properties: 
                    status: 
                      type: "string"
                      enum: 
                        - "unexpected-error"
    /tasks: 
      get: 
        summary: "Get tasks"
        responses: 
          200: 
            description: "OK"
            content: 
              application/json: 
                schema: 
                  type: "array"
                  items: 
                    $ref: "#/components/schemas/TaskDTODefault"
          400: 
            description: "Invalid input"
            content: 
              application/json: 
                schema: 
                  type: "object"
                  additionalProperties: false
                  required: 
                    - "status"
                  properties: 
                    status: 
                      type: "string"
                      enum: 
                        - "invalid-arguments"
          403: 
            description: "Unauthorized"
            content: 
              application/json: 
                schema: 
                  type: "object"
                  additionalProperties: false
                  required: 
                    - "status"
                  properties: 
                    status: 
                      type: "string"
                      enum: 
                        - "unauthorized"
          500: 
            description: "Unexpected error"
            content: 
              application/json: 
                schema: 
                  type: "object"
                  additionalProperties: false
                  required: 
                    - "status"
                  properties: 
                    status: 
                      type: "string"
                      enum: 
                        - "unexpected-error"
      post: 
        summary: "Create a task"
        requestBody: 
          content: 
            application/json: 
              schema: 
                oneOf: 
                  - 
                    $ref: "#/components/schemas/TasksPostBodyOld"
                  - 
                    $ref: "#/components/schemas/TasksPostBodyNew"
        responses: 
          200: 
            description: "OK"
            content: 
              application/json: 
                schema: 
                  oneOf: 
                    - 
                      type: "object"
                      additionalProperties: false
                      required: 
                        - "_id"
                      properties: 
                        _id: 
                          type: "string"
                    - 
                      $ref: "#/components/schemas/TaskContainer"
          208: 
            description: "Already exists"
            content: 
              application/json: 
                schema: 
                  type: "object"
                  additionalProperties: false
                  required: 
                    - "status"
                  properties: 
                    status: 
                      type: "string"
                      enum: 
                        - "already-exists"
          400: 
            description: "Invalid input"
            content: 
              application/json: 
                schema: 
                  type: "object"
                  additionalProperties: false
                  required: 
                    - "status"
                  properties: 
                    status: 
                      type: "string"
                      enum: 
                        - "invalid-due-date-format"
                        - "patient-message-encryption-disallowed"
                        - "invalid-arguments"
          403: 
            description: "Unauthorized"
            content: 
              application/json: 
                schema: 
                  type: "object"
                  additionalProperties: false
                  required: 
                    - "status"
                  properties: 
                    status: 
                      type: "string"
                      enum: 
                        - "unauthorized"
                        - "patient-not-found"
          500: 
            description: "Unexpected error"
            content: 
              application/json: 
                schema: 
                  type: "object"
                  additionalProperties: false
                  required: 
                    - "status"
                  properties: 
                    status: 
                      type: "string"
                      enum: 
                        - "unexpected-error"
    /tasks/{id}: 
      get: 
        summary: "Get task By Id"
        parameters: 
          - 
            name: "id"
            in: "path"
            required: true
            schema: 
              type: "string"
        responses: 
          200: 
            description: "OK"
            content: 
              application/json: 
                schema: 
                  $ref: "#/components/schemas/TaskDTODefault"
          400: 
            description: "Invalid input"
            content: 
              application/json: 
                schema: 
                  type: "object"
                  additionalProperties: false
                  required: 
                    - "status"
                  properties: 
                    status: 
                      type: "string"
                      enum: 
                        - "invalid-arguments"
          403: 
            description: "Unauthorized"
            content: 
              application/json: 
                schema: 
                  type: "object"
                  additionalProperties: false
                  required: 
                    - "status"
                  properties: 
                    status: 
                      type: "string"
                      enum: 
                        - "unauthorized"
          404: 
            description: "Requested task not found"
            content: 
              application/json: 
                schema: 
                  type: "object"
                  additionalProperties: false
                  required: 
                    - "status"
                  properties: 
                    status: 
                      type: "string"
                      enum: 
                        - "not-found"
          500: 
            description: "Unexpected error"
            content: 
              application/json: 
                schema: 
                  type: "object"
                  additionalProperties: false
                  required: 
                    - "status"
                  properties: 
                    status: 
                      type: "string"
                      enum: 
                        - "unexpected-error"
      patch: 
        summary: "Update task"
        parameters: 
          - 
            name: "id"
            in: "path"
            required: true
            schema: 
              type: "string"
        requestBody: 
          description: "Use \"X-Message-ID\" header to specify custom id for automated acceptance message."
          content: 
            application/json: 
              schema: 
                title: "PATCH /tasks body"
                type: "object"
                required: []
                additionalProperties: false
                properties: 
                  accepted: 
                    type: "boolean"
                  closed: 
                    type: "object"
                    required: 
                      - "reason"
                    properties: 
                      reason: 
                        type: "string"
                        enum: 
                          - "closed"
                          - "completed"
                      closedAt: 
                        type: "string"
                        format: "date-time"
                  receiver: 
                    oneOf: 
                      - 
                        title: "Role receiver"
                        type: "object"
                        required: 
                          - "type"
                          - "id"
                        properties: 
                          type: 
                            type: "string"
                            enum: 
                              - "role"
                          id: 
                            type: "string"
                      - 
                        title: "Self receiver"
                        type: "object"
                        required: 
                          - "type"
                          - "id"
                        properties: 
                          type: 
                            type: "string"
                            enum: 
                              - "self"
                          id: 
                            type: "string"
                  location: 
                    oneOf: 
                      - 
                        title: "Station location"
                        type: "object"
                        additionalProperties: false
                        required: 
                          - "type"
                          - "id"
                        properties: 
                          type: 
                            type: "string"
                            enum: 
                              - "station"
                          id: 
                            type: "string"
                      - 
                        title: "Room location"
                        type: "object"
                        additionalProperties: false
                        required: 
                          - "type"
                          - "id"
                        properties: 
                          type: 
                            type: "string"
                            enum: 
                              - "room"
                          id: 
                            type: "string"
                      - 
                        title: "Bed location"
                        type: "object"
                        additionalProperties: false
                        required: 
                          - "type"
                          - "id"
                        properties: 
                          type: 
                            type: "string"
                            enum: 
                              - "bed"
                          id: 
                            type: "string"
                  dueDate: 
                    type: "string"
                    format: "date-time"
        responses: 
          200: 
            description: "OK"
            content: 
              application/json: 
                schema: 
                  $ref: "#/components/schemas/TaskDTODefault"
          208: 
            description: "Task is already completed"
            content: 
              application/json: 
                schema: 
                  type: "object"
                  additionalProperties: false
                  required: 
                    - "status"
                    - "closed"
                  properties: 
                    status: 
                      type: "string"
                      enum: 
                        - "already-completed"
                        - "already-closed"
                    closed: 
                      $ref: "#/components/schemas/TaskClosedDTODefault"
          400: 
            description: "Invalid input"
            content: 
              application/json: 
                schema: 
                  type: "object"
                  additionalProperties: false
                  required: 
                    - "status"
                  properties: 
                    status: 
                      type: "string"
                      enum: 
                        - "task-completion-cant-be-undone"
                        - "task-not-found-or-already-completed"
                        - "cant-reassign"
                        - "already-abandoned"
                        - "invalid-arguments"
          403: 
            description: "Unauthorized"
            content: 
              application/json: 
                schema: 
                  type: "object"
                  additionalProperties: false
                  required: 
                    - "status"
                  properties: 
                    status: 
                      type: "string"
                      enum: 
                        - "unauthorized"
          404: 
            description: "Requested task not found"
            content: 
              application/json: 
                schema: 
                  type: "object"
                  additionalProperties: false
                  required: 
                    - "status"
                  properties: 
                    status: 
                      type: "string"
                      enum: 
                        - "not-found"
          500: 
            description: "Unexpected error"
            content: 
              application/json: 
                schema: 
                  type: "object"
                  additionalProperties: false
                  required: 
                    - "status"
                  properties: 
                    status: 
                      type: "string"
                      enum: 
                        - "unexpected-error"
    /tasks/{id}/messages: 
      post: 
        summary: "Create a task message"
        parameters: 
          - 
            description: "ID of the task message should be sent to"
            name: "id"
            in: "path"
            schema: 
              type: "string"
        requestBody: 
          content: 
            application/json: 
              schema: 
                title: "POST Task messages body schema"
                type: "object"
                additionalProperties: false
                required: 
                  - "text"
                properties: 
                  _id: 
                    type: "string"
                  text: 
                    type: "string"
                  i18nId: 
                    type: "string"
                  encrypted: 
                    type: "boolean"
        responses: 
          200: 
            description: "Success"
            content: 
              application/json: 
                schema: 
                  $ref: "#/components/schemas/TaskMessage"
          400: 
            description: "Invalid input"
            content: 
              application/json: 
                schema: 
                  type: "object"
                  additionalProperties: false
                  required: 
                    - "status"
                  properties: 
                    status: 
                      type: "string"
                      enum: 
                        - "invalid-arguments"
          401: 
            description: "Unauthorized"
            content: 
              application/json: 
                schema: 
                  type: "object"
                  additionalProperties: false
                  required: 
                    - "status"
                  properties: 
                    status: 
                      type: "string"
                      enum: 
                        - "unauthorized"
          404: 
            description: "Not found"
            content: 
              application/json: 
                schema: 
                  type: "object"
                  additionalProperties: false
                  required: 
                    - "status"
                  properties: 
                    status: 
                      type: "string"
                      enum: 
                        - "not-found"
          409: 
            description: "Conflict"
            content: 
              application/json: 
                schema: 
                  type: "object"
                  additionalProperties: false
                  required: 
                    - "status"
                  properties: 
                    status: 
                      type: "string"
                      enum: 
                        - "already-exists"
          500: 
            description: "Unexpected error"
            content: 
              application/json: 
                schema: 
                  type: "object"
                  additionalProperties: false
                  required: 
                    - "status"
                  properties: 
                    status: 
                      type: "string"
                      enum: 
                        - "unexpected-error"
      get: 
        summary: "Get all task messages"
        parameters: 
          - 
            description: "ID of the task"
            name: "id"
            in: "path"
            schema: 
              type: "string"
            required: true
        responses: 
          200: 
            description: "OK"
            headers: 
              X-Total-Count: 
                schema: 
                  type: "integer"
            content: 
              application/json: 
                schema: 
                  type: "array"
                  items: 
                    $ref: "#/components/schemas/TaskMessage"
          400: 
            description: "Invalid input"
            content: 
              application/json: 
                schema: 
                  type: "object"
                  additionalProperties: false
                  required: 
                    - "status"
                  properties: 
                    status: 
                      type: "string"
                      enum: 
                        - "invalid-arguments"
          401: 
            description: "Unauthorized"
            content: 
              application/json: 
                schema: 
                  type: "object"
                  additionalProperties: false
                  required: 
                    - "status"
                  properties: 
                    status: 
                      type: "string"
                      enum: 
                        - "unauthorized"
          404: 
            description: "Not found"
            content: 
              application/json: 
                schema: 
                  type: "object"
                  additionalProperties: false
                  required: 
                    - "status"
                  properties: 
                    status: 
                      type: "string"
                      enum: 
                        - "not-found"
          500: 
            description: "Unexpected error"
            content: 
              application/json: 
                schema: 
                  type: "object"
                  additionalProperties: false
                  required: 
                    - "status"
                  properties: 
                    status: 
                      type: "string"
                      enum: 
                        - "unexpected-error"
    /tasks/{taskId}/receivedBy: 
      post: 
        summary: "Mark task received by user"
        parameters: 
          - 
            name: "taskId"
            in: "path"
            required: true
            schema: 
              type: "string"
        requestBody: 
          content: 
            application/json: 
              schema: 
                title: "POST /tasks/:id/receivedBy body"
                type: "object"
                required: 
                  - "userId"
                additionalProperties: false
                properties: 
                  userId: 
                    type: "string"
        responses: 
          201: 
            description: "User id added to receivedBy list"
            content: 
              application/json: 
                schema: 
                  type: "object"
          208: 
            description: "User id is already in receivedBy list"
            content: 
              application/json: 
                schema: 
                  type: "object"
          400: 
            description: "Invalid input"
            content: 
              application/json: 
                schema: 
                  type: "object"
                  additionalProperties: false
                  required: 
                    - "status"
                  properties: 
                    status: 
                      type: "string"
                      enum: 
                        - "invalid-arguments"
          403: 
            description: "Unauthorized"
            content: 
              application/json: 
                schema: 
                  type: "object"
                  additionalProperties: false
                  required: 
                    - "status"
                  properties: 
                    status: 
                      type: "string"
                      enum: 
                        - "unauthorized"
                        - "forbidden"
          404: 
            description: "Task not found"
            content: 
              application/json: 
                schema: 
                  type: "object"
          500: 
            description: "Unexpected error"
            content: 
              application/json: 
                schema: 
                  type: "object"
                  additionalProperties: false
                  required: 
                    - "status"
                  properties: 
                    status: 
                      type: "string"
                      enum: 
                        - "unexpected-error"
    /projects: 
      get: 
        operationId: "getProjects"
        summary: "Get projects"
        parameters: 
          - 
            name: "offset"
            in: "query"
            required: false
            schema: 
              type: "number"
              minimum: 0
              default: 0
          - 
            name: "limit"
            in: "query"
            required: false
            schema: 
              type: "number"
              minimum: 1
              default: 10
        responses: 
          200: 
            description: "OK"
            headers: 
              X-Total-Count: 
                schema: 
                  type: "integer"
            content: 
              application/json: 
                schema: 
                  type: "array"
                  items: 
                    $ref: "#/components/schemas/ProjectDTODefault"
          400: 
            description: "Invalid input"
            content: 
              application/json: 
                schema: 
                  type: "object"
                  additionalProperties: false
                  required: 
                    - "status"
                  properties: 
                    status: 
                      type: "string"
                      enum: 
                        - "invalid-arguments"
          401: 
            description: "Unauthorized"
            content: 
              application/json: 
                schema: 
                  type: "object"
                  additionalProperties: false
                  required: 
                    - "status"
                  properties: 
                    status: 
                      type: "string"
                      enum: 
                        - "unauthorized"
          500: 
            description: "Unexpected error"
            content: 
              application/json: 
                schema: 
                  type: "object"
                  additionalProperties: false
                  required: 
                    - "status"
                  properties: 
                    status: 
                      type: "string"
                      enum: 
                        - "unexpected-error"
    /projects/{id}: 
      get: 
        operationId: "getProject"
        summary: "Get project"
        parameters: 
          - 
            name: "id"
            in: "path"
            required: true
            schema: 
              type: "string"
        responses: 
          200: 
            description: "OK"
            content: 
              application/json: 
                schema: 
                  $ref: "#/components/schemas/ProjectDTODefault"
          400: 
            description: "Invalid input"
            content: 
              application/json: 
                schema: 
                  type: "object"
                  additionalProperties: false
                  required: 
                    - "status"
                  properties: 
                    status: 
                      type: "string"
                      enum: 
                        - "invalid-arguments"
          401: 
            description: "Unauthorized"
            content: 
              application/json: 
                schema: 
                  type: "object"
                  additionalProperties: false
                  required: 
                    - "status"
                  properties: 
                    status: 
                      type: "string"
                      enum: 
                        - "unauthorized"
          404: 
            description: "Not found"
            content: 
              application/json: 
                schema: 
                  type: "object"
                  additionalProperties: false
                  required: 
                    - "status"
                  properties: 
                    status: 
                      type: "string"
                      enum: 
                        - "not-found"
          500: 
            description: "Unexpected error"
            content: 
              application/json: 
                schema: 
                  type: "object"
                  additionalProperties: false
                  required: 
                    - "status"
                  properties: 
                    status: 
                      type: "string"
                      enum: 
                        - "unexpected-error"
      patch: 
        summary: "Update project"
        parameters: 
          - 
            name: "id"
            in: "path"
            required: true
            schema: 
              type: "string"
        requestBody: 
          content: 
            application/json: 
              schema: 
                title: "PATCH /projects body"
                type: "object"
                required: []
                additionalProperties: false
                properties: 
                  closed: 
                    type: "object"
                    required: 
                      - "reason"
                    properties: 
                      reason: 
                        type: "string"
                        enum: 
                          - "cancelled"
        responses: 
          200: 
            description: "OK"
            content: 
              application/json: 
                schema: 
                  $ref: "#/components/schemas/ProjectDTODefault"
          400: 
            description: "Invalid input"
            content: 
              application/json: 
                schema: 
                  type: "object"
                  additionalProperties: false
                  required: 
                    - "status"
                  properties: 
                    status: 
                      type: "string"
                      enum: 
                        - "invalid-arguments"
          401: 
            description: "Unauthorized"
            content: 
              application/json: 
                schema: 
                  type: "object"
                  additionalProperties: false
                  required: 
                    - "status"
                  properties: 
                    status: 
                      type: "string"
                      enum: 
                        - "unauthorized"
          403: 
            description: "Forbidden"
            content: 
              application/json: 
                schema: 
                  type: "object"
                  additionalProperties: false
                  required: 
                    - "status"
                  properties: 
                    status: 
                      type: "string"
                      enum: 
                        - "forbidden"
          404: 
            description: "Not found"
            content: 
              application/json: 
                schema: 
                  type: "object"
                  additionalProperties: false
                  required: 
                    - "status"
                  properties: 
                    status: 
                      type: "string"
                      enum: 
                        - "not-found"
          500: 
            description: "Unexpected error"
            content: 
              application/json: 
                schema: 
                  type: "object"
                  additionalProperties: false
                  required: 
                    - "status"
                  properties: 
                    status: 
                      type: "string"
                      enum: 
                        - "unexpected-error"
    /icons/{id}: 
      get: 
        summary: "Get Icon"
        parameters: 
          - 
            name: "id"
            in: "path"
            required: true
            schema: 
              type: "string"
        responses: 
          200: 
            description: "OK"
            content: 
              application/json: 
                schema: 
                  type: "object"
                  required: 
                    - "_id"
                    - "name"
                    - "svgData"
                    - "pngData"
                    - "createdAt"
                  properties: 
                    _id: 
                      type: "string"
                    name: 
                      type: "string"
                    svgData: 
                      type: "string"
                    pngData: 
                      type: "string"
                    createdAt: 
                      type: "string"
                      format: "date-time"
          400: 
            description: "Invalid input"
            content: 
              application/json: 
                schema: 
                  type: "object"
                  additionalProperties: false
                  required: 
                    - "status"
                  properties: 
                    status: 
                      type: "string"
                      enum: 
                        - "invalid-arguments"
          404: 
            description: "Not found"
            content: 
              application/json: 
                schema: 
                  type: "object"
                  additionalProperties: false
                  required: 
                    - "status"
                  properties: 
                    status: 
                      type: "string"
                      enum: 
                        - "icon-not-found"
          500: 
            description: "Unexpected error"
            content: 
              application/json: 
                schema: 
                  type: "object"
                  additionalProperties: false
                  required: 
                    - "status"
                  properties: 
                    status: 
                      type: "string"
                      enum: 
                        - "unexpected-error"
    /tasktypes/containers: 
      get: 
        summary: "Get task container types"
        parameters: 
          - 
            name: "offset"
            in: "query"
            schema: 
              type: "integer"
              default: 0
          - 
            name: "limit"
            in: "query"
            schema: 
              type: "integer"
              default: 10
              maximum: 100
          - 
            name: "hospitalId"
            in: "query"
            schema: 
              type: "string"
        responses: 
          200: 
            description: "OK"
            content: 
              application/json: 
                schema: 
                  type: "array"
                  items: 
                    $ref: "#/components/schemas/TaskContainerType"
          400: 
            description: "Invalid input"
            content: 
              application/json: 
                schema: 
                  type: "object"
                  additionalProperties: false
                  required: 
                    - "status"
                  properties: 
                    status: 
                      type: "string"
                      enum: 
                        - "invalid-arguments"
          500: 
            description: "Unexpected error"
            content: 
              application/json: 
                schema: 
                  type: "object"
                  additionalProperties: false
                  required: 
                    - "status"
                  properties: 
                    status: 
                      type: "string"
                      enum: 
                        - "unexpected-error"
      post: 
        summary: "Post task container type"
        requestBody: 
          content: 
            application/json: 
              schema: 
                title: "POST /tasktypes/containers/:id body"
                type: "object"
                required: 
                  - "_id"
                  - "name"
                  - "hospitalId"
                  - "stationIdsAvailableFor"
                  - "initiators"
                additionalProperties: false
                properties: 
                  _id: 
                    type: "string"
                  name: 
                    type: "string"
                  hospitalId: 
                    type: "string"
                  stationIdsAvailableFor: 
                    type: "array"
                    items: 
                      type: "string"
                  initiators: 
                    type: "object"
                    required: 
                      - "roleIds"
                    additionalProperties: false
                    properties: 
                      roleIds: 
                        type: "array"
                        items: 
                          type: "string"
        responses: 
          201: 
            description: "Created"
            content: 
              application/json: 
                schema: 
                  $ref: "#/components/schemas/TaskContainerType"
          400: 
            description: "Invalid input"
            content: 
              application/json: 
                schema: 
                  type: "object"
                  additionalProperties: false
                  required: 
                    - "status"
                  properties: 
                    status: 
                      type: "string"
                      enum: 
                        - "invalid-arguments"
          404: 
            description: "Not found"
            content: 
              application/json: 
                schema: 
                  type: "object"
                  required: 
                    - "status"
                  additionalProperties: false
                  properties: 
                    status: 
                      type: "string"
          500: 
            description: "Unexpected error"
            content: 
              application/json: 
                schema: 
                  type: "object"
                  additionalProperties: false
                  required: 
                    - "status"
                  properties: 
                    status: 
                      type: "string"
                      enum: 
                        - "unexpected-error"
    /tasktypes/containers/{id}: 
      get: 
        summary: "Get task container type"
        parameters: 
          - 
            name: "id"
            in: "path"
            schema: 
              type: "string"
            required: true
        responses: 
          200: 
            description: "OK"
            content: 
              application/json: 
                schema: 
                  $ref: "#/components/schemas/TaskContainerType"
          400: 
            description: "Invalid input"
            content: 
              application/json: 
                schema: 
                  type: "object"
                  additionalProperties: false
                  required: 
                    - "status"
                  properties: 
                    status: 
                      type: "string"
                      enum: 
                        - "invalid-arguments"
          404: 
            description: "Not found"
            content: 
              application/json: 
                schema: 
                  type: "object"
                  required: 
                    - "status"
                  additionalProperties: false
                  properties: 
                    status: 
                      type: "string"
                      enum: 
                        - "not-found"
          500: 
            description: "Unexpected error"
            content: 
              application/json: 
                schema: 
                  type: "object"
                  additionalProperties: false
                  required: 
                    - "status"
                  properties: 
                    status: 
                      type: "string"
                      enum: 
                        - "unexpected-error"
      patch: 
        summary: "Get task container type"
        parameters: 
          - 
            name: "id"
            in: "path"
            schema: 
              type: "string"
            required: true
        requestBody: 
          content: 
            application/json: 
              schema: 
                title: "Task container type patch DTO"
                type: "object"
                additionalProperties: false
                properties: 
                  name: 
                    type: "string"
                  iconId: 
                    type: "string"
                    nullable: true
                  stationIdsAvailableFor: 
                    type: "array"
                    items: 
                      type: "string"
                  initiators: 
                    type: "object"
                    required: 
                      - "roleIds"
                    additionalProperties: false
                    properties: 
                      roleIds: 
                        type: "array"
                        items: 
                          type: "string"
        responses: 
          200: 
            description: "OK"
            content: 
              application/json: 
                schema: 
                  $ref: "#/components/schemas/TaskContainerType"
          400: 
            description: "Invalid input"
            content: 
              application/json: 
                schema: 
                  type: "object"
                  additionalProperties: false
                  required: 
                    - "status"
                  properties: 
                    status: 
                      type: "string"
                      enum: 
                        - "invalid-arguments"
          404: 
            description: "Not found"
            content: 
              application/json: 
                schema: 
                  type: "object"
                  required: 
                    - "status"
                  additionalProperties: false
                  properties: 
                    status: 
                      type: "string"
                      enum: 
                        - "not-found"
          500: 
            description: "Unexpected error"
            content: 
              application/json: 
                schema: 
                  type: "object"
                  additionalProperties: false
                  required: 
                    - "status"
                  properties: 
                    status: 
                      type: "string"
                      enum: 
                        - "unexpected-error"
      delete: 
        summary: "Delete task container type"
        parameters: 
          - 
            name: "id"
            in: "path"
            schema: 
              type: "string"
            required: true
        responses: 
          200: 
            description: "Deleted"
            content: 
              application/json: 
                schema: 
                  type: "object"
          400: 
            description: "Invalid input"
            content: 
              application/json: 
                schema: 
                  type: "object"
                  additionalProperties: false
                  required: 
                    - "status"
                  properties: 
                    status: 
                      type: "string"
                      enum: 
                        - "invalid-arguments"
          500: 
            description: "Unexpected error"
            content: 
              application/json: 
                schema: 
                  type: "object"
                  additionalProperties: false
                  required: 
                    - "status"
                  properties: 
                    status: 
                      type: "string"
                      enum: 
                        - "unexpected-error"
    /tasktypes/containers/{containerId}/subtasks: 
      post: 
        summary: "Post task container subtask type"
        parameters: 
          - 
            name: "containerId"
            in: "path"
            schema: 
              type: "string"
            required: true
        requestBody: 
          content: 
            application/json: 
              schema: 
                title: "Task container subtask type post DTO"
                type: "object"
                required: 
                  - "_id"
                  - "name"
                  - "isOptional"
                  - "prevIds"
                  - "location"
                  - "target"
                additionalProperties: false
                properties: 
                  _id: 
                    type: "string"
                  name: 
                    type: "string"
                  isOptional: 
                    type: "boolean"
                  prevIds: 
                    type: "array"
                    items: 
                      type: "string"
                  location: 
                    type: "object"
                    required: 
                      - "type"
                      - "title"
                      - "stationTitle"
                      - "hint"
                      - "stationHint"
                    additionalProperties: false
                    properties: 
                      type: 
                        type: "string"
                        enum: 
                          - "user-defined"
                      title: 
                        type: "string"
                      stationTitle: 
                        type: "string"
                      hint: 
                        type: "string"
                      stationHint: 
                        type: "string"
                  target: 
                    type: "object"
                    required: 
                      - "type"
                      - "roleIds"
                    additionalProperties: false
                    properties: 
                      type: 
                        type: "string"
                        enum: 
                          - "admin-defined"
                      roleIds: 
                        type: "array"
                        items: 
                          type: "string"
        responses: 
          201: 
            description: "Created"
            content: 
              application/json: 
                schema: 
                  $ref: "#/components/schemas/TaskContainerSubtaskType"
          400: 
            description: "Invalid input"
            content: 
              application/json: 
                schema: 
                  type: "object"
                  additionalProperties: false
                  required: 
                    - "status"
                  properties: 
                    status: 
                      type: "string"
                      enum: 
                        - "invalid-arguments"
          500: 
            description: "Unexpected error"
            content: 
              application/json: 
                schema: 
                  type: "object"
                  additionalProperties: false
                  required: 
                    - "status"
                  properties: 
                    status: 
                      type: "string"
                      enum: 
                        - "unexpected-error"
    /tasktypes/containers/{containerId}/subtasks/{subtaskId}: 
      patch: 
        summary: "Patch task container subtask type"
        parameters: 
          - 
            name: "containerId"
            in: "path"
            schema: 
              type: "string"
            required: true
          - 
            name: "subtaskId"
            in: "path"
            schema: 
              type: "string"
            required: true
        requestBody: 
          content: 
            application/json: 
              schema: 
                title: "Task container subtask type patch DTO"
                type: "object"
                required: []
                additionalProperties: false
                properties: 
                  name: 
                    type: "string"
                  isOptional: 
                    type: "boolean"
                  prevIds: 
                    type: "array"
                    items: 
                      type: "string"
                  location: 
                    oneOf: 
                      - 
                        title: "User-defined location"
                        type: "object"
                        required: 
                          - "type"
                          - "title"
                          - "stationTitle"
                          - "hint"
                          - "stationHint"
                        additionalProperties: false
                        properties: 
                          type: 
                            type: "string"
                            enum: 
                              - "user-defined"
                          title: 
                            type: "string"
                          stationTitle: 
                            type: "string"
                          hint: 
                            type: "string"
                          stationHint: 
                            type: "string"
                      - 
                        title: "Admin-defined location"
                        type: "object"
                        required: 
                          - "type"
                          - "value"
                        additionalProperties: false
                        properties: 
                          type: 
                            type: "string"
                            enum: 
                              - "admin-defined"
                          value: 
                            type: "object"
                            required: 
                              - "type"
                              - "id"
                            additionalProperties: false
                            properties: 
                              type: 
                                type: "string"
                                enum: 
                                  - "station"
                                  - "room"
                                  - "bed"
                              id: 
                                type: "string"
                      - 
                        title: "Inherited location"
                        type: "object"
                        required: 
                          - "type"
                          - "subtaskTypeId"
                        additionalProperties: false
                        properties: 
                          type: 
                            type: "string"
                            enum: 
                              - "from-subtask"
                          subtaskTypeId: 
                            type: "string"
                  target: 
                    type: "object"
                    required: 
                      - "type"
                      - "roleIds"
                    additionalProperties: false
                    properties: 
                      type: 
                        type: "string"
                        enum: 
                          - "admin-defined"
                      roleIds: 
                        type: "array"
                        items: 
                          type: "string"
        responses: 
          200: 
            description: "Updated"
            content: 
              application/json: 
                schema: 
                  $ref: "#/components/schemas/TaskContainerSubtaskType"
          400: 
            description: "Invalid input"
            content: 
              application/json: 
                schema: 
                  type: "object"
                  additionalProperties: false
                  required: 
                    - "status"
                  properties: 
                    status: 
                      type: "string"
                      enum: 
                        - "invalid-arguments"
          500: 
            description: "Unexpected error"
            content: 
              application/json: 
                schema: 
                  type: "object"
                  additionalProperties: false
                  required: 
                    - "status"
                  properties: 
                    status: 
                      type: "string"
                      enum: 
                        - "unexpected-error"
      delete: 
        summary: "Delete task container subtask type"
        parameters: 
          - 
            name: "containerId"
            in: "path"
            schema: 
              type: "string"
            required: true
          - 
            name: "subtaskId"
            in: "path"
            schema: 
              type: "string"
            required: true
        responses: 
          200: 
            description: "Deleted"
            content: 
              application/json: 
                schema: 
                  type: "object"
          400: 
            description: "Invalid input"
            content: 
              application/json: 
                schema: 
                  type: "object"
                  additionalProperties: false
                  required: 
                    - "status"
                  properties: 
                    status: 
                      type: "string"
                      enum: 
                        - "invalid-arguments"
          500: 
            description: "Unexpected error"
            content: 
              application/json: 
                schema: 
                  type: "object"
                  additionalProperties: false
                  required: 
                    - "status"
                  properties: 
                    status: 
                      type: "string"
                      enum: 
                        - "unexpected-error"
    /tasktypes: 
      post: 
        summary: "Create a Tasktype"
        requestBody: 
          content: 
            application/json: 
              schema: 
                title: "POST /tasktypes body"
                type: "object"
                required: 
                  - "name"
                additionalProperties: false
                properties: 
                  name: 
                    type: "string"
                    minLength: 1
                  expiresAfter: 
                    description: "How many milliseconds after the due date the task will be automatically closed"
                    type: "number"
                    minimum: 60000
        responses: 
          201: 
            description: "OK"
            content: 
              application/json: 
                schema: 
                  $ref: "#/components/schemas/TasktypeDTODefault"
          400: 
            description: "Invalid input"
            content: 
              application/json: 
                schema: 
                  type: "object"
                  additionalProperties: false
                  required: 
                    - "status"
                  properties: 
                    status: 
                      type: "string"
                      enum: 
                        - "invalid-arguments"
          401: 
            description: "Unauthorized"
            content: 
              application/json: 
                schema: 
                  type: "object"
                  additionalProperties: false
                  required: 
                    - "status"
                  properties: 
                    status: 
                      type: "string"
                      enum: 
                        - "unauthorized"
          500: 
            description: "Unexpected error"
            content: 
              application/json: 
                schema: 
                  type: "object"
                  additionalProperties: false
                  required: 
                    - "status"
                  properties: 
                    status: 
                      type: "string"
                      enum: 
                        - "unexpected-error"
    /tasktypes/{id}: 
      patch: 
        summary: "Update tasktype"
        parameters: 
          - 
            name: "id"
            in: "path"
            required: true
            schema: 
              type: "string"
        requestBody: 
          content: 
            application/json: 
              schema: 
                title: "PATCH /tasktypes body"
                type: "object"
                required: []
                additionalProperties: false
                properties: 
                  expiresAfter: 
                    nullable: true
                    type: "number"
                    minimum: 60000
        responses: 
          200: 
            description: "OK"
            content: 
              application/json: 
                schema: 
                  $ref: "#/components/schemas/TasktypeDTODefault"
          400: 
            description: "Invalid input"
            content: 
              application/json: 
                schema: 
                  type: "object"
                  additionalProperties: false
                  required: 
                    - "status"
                  properties: 
                    status: 
                      type: "string"
                      enum: 
                        - "invalid-arguments"
          401: 
            description: "Unauthorized"
            content: 
              application/json: 
                schema: 
                  type: "object"
                  additionalProperties: false
                  required: 
                    - "status"
                  properties: 
                    status: 
                      type: "string"
                      enum: 
                        - "unauthorized"
          404: 
            description: "Not found"
            content: 
              application/json: 
                schema: 
                  type: "object"
                  additionalProperties: false
                  required: 
                    - "status"
                  properties: 
                    status: 
                      type: "string"
                      enum: 
                        - "not-found"
          500: 
            description: "Unexpected error"
            content: 
              application/json: 
                schema: 
                  type: "object"
                  additionalProperties: false
                  required: 
                    - "status"
                  properties: 
                    status: 
                      type: "string"
                      enum: 
                        - "unexpected-error"
    /menuitems: 
      post: 
        summary: "Create a Menuitem"
        requestBody: 
          content: 
            application/json: 
              schema: 
                title: "POST /menuitems body"
                type: "object"
                required: 
                  - "name"
                additionalProperties: false
                properties: 
                  name: 
                    type: "string"
                    minLength: 1
        responses: 
          201: 
            description: "OK"
            content: 
              application/json: 
                schema: 
                  $ref: "#/components/schemas/MenuitemDTODefault"
          400: 
            description: "Invalid input"
            content: 
              application/json: 
                schema: 
                  type: "object"
                  additionalProperties: false
                  required: 
                    - "status"
                  properties: 
                    status: 
                      type: "string"
                      enum: 
                        - "invalid-arguments"
          401: 
            description: "Unauthorized"
            content: 
              application/json: 
                schema: 
                  type: "object"
                  additionalProperties: false
                  required: 
                    - "status"
                  properties: 
                    status: 
                      type: "string"
                      enum: 
                        - "unauthorized"
          500: 
            description: "Unexpected error"
            content: 
              application/json: 
                schema: 
                  type: "object"
                  additionalProperties: false
                  required: 
                    - "status"
                  properties: 
                    status: 
                      type: "string"
                      enum: 
                        - "unexpected-error"
    /shifts: 
      post: 
        summary: "Start a shift"
        requestBody: 
          content: 
            application/json: 
              schema: 
                title: "POST /shifts body"
                type: "object"
                required: 
                  - "user"
                  - "role"
                  - "location"
                additionalProperties: false
                properties: 
                  user: 
                    type: "object"
                    additionalProperties: false
                    properties: 
                      nickname: 
                        type: "string"
                  role: 
                    type: "object"
                    required: 
                      - "id"
                    additionalProperties: false
                    properties: 
                      id: 
                        type: "string"
                  location: 
                    oneOf: 
                      - 
                        title: "Manual choice"
                        type: "object"
                        required: 
                          - "type"
                          - "bedIds"
                        additionalProperties: false
                        properties: 
                          type: 
                            type: "string"
                            enum: 
                              - "manual"
                          bedIds: 
                            type: "array"
                            items: 
                              type: "string"
                          areaName: 
                            title: "Temporary prop to define custom area names. Should be removed in favor of more strict choise options like list of station ids or all areas without specification of bed ids"
                            type: "string"
                      - 
                        title: "Station"
                        type: "object"
                        required: 
                          - "type"
                          - "stationId"
                        additionalProperties: false
                        properties: 
                          type: 
                            type: "string"
                            enum: 
                              - "station"
                          stationId: 
                            type: "string"
                      - 
                        title: "Area"
                        type: "object"
                        required: 
                          - "type"
                          - "areaId"
                        additionalProperties: false
                        properties: 
                          type: 
                            type: "string"
                            enum: 
                              - "area"
                          areaId: 
                            type: "string"
                      - 
                        type: "array"
                        items: 
                          oneOf: 
                            - 
                              title: "Station"
                              type: "object"
                              additionalProperties: false
                              required: 
                                - "type"
                                - "id"
                              properties: 
                                type: 
                                  type: "string"
                                  enum: 
                                    - "station"
                                id: 
                                  type: "string"
                            - 
                              title: "Area"
                              type: "object"
                              additionalProperties: false
                              required: 
                                - "type"
                                - "id"
                              properties: 
                                type: 
                                  type: "string"
                                  enum: 
                                    - "area"
                                id: 
                                  type: "string"
                            - 
                              title: "Room"
                              type: "object"
                              additionalProperties: false
                              required: 
                                - "type"
                                - "id"
                              properties: 
                                type: 
                                  type: "string"
                                  enum: 
                                    - "room"
                                id: 
                                  type: "string"
                            - 
                              title: "Bed"
                              type: "object"
                              additionalProperties: false
                              required: 
                                - "type"
                                - "id"
                              properties: 
                                type: 
                                  type: "string"
                                  enum: 
                                    - "bed"
                                id: 
                                  type: "string"
                            - 
                              title: "Room within area"
                              type: "object"
                              additionalProperties: false
                              required: 
                                - "type"
                                - "id"
                                - "areaId"
                              properties: 
                                type: 
                                  type: "string"
                                  enum: 
                                    - "room"
                                id: 
                                  type: "string"
                                areaId: 
                                  type: "string"
        responses: 
          200: 
            description: "OK"
            content: 
              application/json: 
                schema: 
                  type: "object"
                  required: 
                    - "id"
                  additionalProperties: false
                  properties: 
                    id: 
                      type: "string"
          400: 
            description: "Invalid input"
            content: 
              application/json: 
                schema: 
                  type: "object"
                  additionalProperties: false
                  required: 
                    - "status"
                  properties: 
                    status: 
                      type: "string"
                      enum: 
                        - "invalid-arguments"
          401: 
            description: "Unauthorized"
            content: 
              application/json: 
                schema: 
                  type: "object"
                  additionalProperties: false
                  required: 
                    - "status"
                  properties: 
                    status: 
                      type: "string"
                      enum: 
                        - "unauthorized"
          500: 
            description: "Unexpected error"
            content: 
              application/json: 
                schema: 
                  type: "object"
                  additionalProperties: false
                  required: 
                    - "status"
                  properties: 
                    status: 
                      type: "string"
                      enum: 
                        - "unexpected-error"
    /shifts/{id}: 
      patch: 
        summary: "Update shift"
        parameters: 
          - 
            name: "id"
            in: "path"
            required: true
            schema: 
              type: "string"
        requestBody: 
          content: 
            application/json: 
              schema: 
                title: "PATCH /shifts body"
                type: "object"
                additionalProperties: false
                properties: 
                  isOpen: 
                    type: "boolean"
                    enum: 
                      - false
        responses: 
          200: 
            description: "OK"
            content: 
              application/json: 
                schema: 
                  type: "object"
                  additionalProperties: false
          400: 
            description: "Invalid input"
            content: 
              application/json: 
                schema: 
                  type: "object"
                  additionalProperties: false
                  required: 
                    - "status"
                  properties: 
                    status: 
                      type: "string"
                      enum: 
                        - "invalid-due-date-format"
                        - "patient-message-encryption-disallowed"
                        - "invalid-arguments"
          403: 
            description: "Unauthorized"
            content: 
              application/json: 
                schema: 
                  type: "object"
                  additionalProperties: false
                  required: 
                    - "status"
                  properties: 
                    status: 
                      type: "string"
                      enum: 
                        - "unauthorized"
                        - "patient-not-found"
          500: 
            description: "Unexpected error"
            content: 
              application/json: 
                schema: 
                  type: "object"
                  additionalProperties: false
                  required: 
                    - "status"
                  properties: 
                    status: 
                      type: "string"
                      enum: 
                        - "unexpected-error"
    /organizations: 
      get: 
        summary: "get /organizations"
        responses: 
          200: 
            description: "OK"
            content: 
              application/json: 
                schema: 
                  type: "array"
                  items: 
                    $ref: "#/components/schemas/OrganizationDTODefault"
          400: 
            description: "Invalid input"
            content: 
              application/json: 
                schema: 
                  type: "object"
                  additionalProperties: false
                  required: 
                    - "status"
                  properties: 
                    status: 
                      type: "string"
                      enum: 
                        - "invalid-arguments"
          403: 
            description: "Unauthorized"
            content: 
              application/json: 
                schema: 
                  type: "object"
                  additionalProperties: false
                  required: 
                    - "status"
                  properties: 
                    status: 
                      type: "string"
                      enum: 
                        - "unauthorized"
          500: 
            description: "Unexpected error"
            content: 
              application/json: 
                schema: 
                  type: "object"
                  additionalProperties: false
                  required: 
                    - "status"
                  properties: 
                    status: 
                      type: "string"
                      enum: 
                        - "unexpected-error"
      post: 
        summary: "post /organizations"
        requestBody: 
          content: 
            application/json: 
              schema: 
                title: "POST organizations body"
                type: "object"
                required: 
                  - "name"
                additionalProperties: false
                properties: 
                  name: 
                    type: "string"
        responses: 
          200: 
            description: "OK"
            content: 
              application/json: 
                schema: 
                  $ref: "#/components/schemas/OrganizationDTODefault"
          400: 
            description: "Invalid input"
            content: 
              application/json: 
                schema: 
                  type: "object"
                  additionalProperties: false
                  required: 
                    - "status"
                  properties: 
                    status: 
                      type: "string"
                      enum: 
                        - "invalid-arguments"
          403: 
            description: "Unauthorized"
            content: 
              application/json: 
                schema: 
                  type: "object"
                  additionalProperties: false
                  required: 
                    - "status"
                  properties: 
                    status: 
                      type: "string"
                      enum: 
                        - "unauthorized"
          500: 
            description: "Unexpected error"
            content: 
              application/json: 
                schema: 
                  type: "object"
                  additionalProperties: false
                  required: 
                    - "status"
                  properties: 
                    status: 
                      type: "string"
                      enum: 
                        - "unexpected-error"
    /hospitals: 
      post: 
        summary: "Create a Hospital"
        requestBody: 
          content: 
            application/json: 
              schema: 
                title: "POST /hospitals body"
                type: "object"
                required: 
                  - "name"
                additionalProperties: false
                properties: 
                  name: 
                    type: "string"
                    minLength: 1
        responses: 
          201: 
            description: "OK"
            content: 
              application/json: 
                schema: 
                  $ref: "#/components/schemas/HospitalDTODefault"
          400: 
            description: "Invalid input"
            content: 
              application/json: 
                schema: 
                  type: "object"
                  additionalProperties: false
                  required: 
                    - "status"
                  properties: 
                    status: 
                      type: "string"
                      enum: 
                        - "invalid-arguments"
          401: 
            description: "Unauthorized"
            content: 
              application/json: 
                schema: 
                  type: "object"
                  additionalProperties: false
                  required: 
                    - "status"
                  properties: 
                    status: 
                      type: "string"
                      enum: 
                        - "unauthorized"
          500: 
            description: "Unexpected error"
            content: 
              application/json: 
                schema: 
                  type: "object"
                  additionalProperties: false
                  required: 
                    - "status"
                  properties: 
                    status: 
                      type: "string"
                      enum: 
                        - "unexpected-error"
      get: 
        summary: "Find all Hospitals"
        responses: 
          200: 
            description: "OK"
            headers: 
              X-Total-Count: 
                schema: 
                  type: "integer"
                required: true
            content: 
              application/json: 
                schema: 
                  type: "array"
                  items: 
                    $ref: "#/components/schemas/HospitalDTODefault"
          400: 
            description: "Invalid input"
            content: 
              application/json: 
                schema: 
                  type: "object"
                  additionalProperties: false
                  required: 
                    - "status"
                  properties: 
                    status: 
                      type: "string"
                      enum: 
                        - "invalid-arguments"
          403: 
            description: "Unauthorized"
            content: 
              application/json: 
                schema: 
                  type: "object"
                  additionalProperties: false
                  required: 
                    - "status"
                  properties: 
                    status: 
                      type: "string"
                      enum: 
                        - "unauthorized"
          500: 
            description: "Unexpected error"
            content: 
              application/json: 
                schema: 
                  type: "object"
                  additionalProperties: false
                  required: 
                    - "status"
                  properties: 
                    status: 
                      type: "string"
                      enum: 
                        - "unexpected-error"
    /hospitals/{id}: 
      get: 
        summary: "Find a Hospital"
        parameters: 
          - 
            name: "id"
            in: "path"
            required: true
            schema: 
              type: "string"
        responses: 
          200: 
            description: "OK"
            content: 
              application/json: 
                schema: 
                  $ref: "#/components/schemas/HospitalDTODefault"
          400: 
            description: "Invalid input"
            content: 
              application/json: 
                schema: 
                  type: "object"
                  additionalProperties: false
                  required: 
                    - "status"
                  properties: 
                    status: 
                      type: "string"
                      enum: 
                        - "invalid-arguments"
          403: 
            description: "Unauthorized"
            content: 
              application/json: 
                schema: 
                  type: "object"
                  additionalProperties: false
                  required: 
                    - "status"
                  properties: 
                    status: 
                      type: "string"
                      enum: 
                        - "unauthorized"
          404: 
            description: "Requested hospital not found"
            content: 
              application/json: 
                schema: 
                  type: "object"
                  additionalProperties: false
                  required: 
                    - "status"
                  properties: 
                    status: 
                      type: "string"
                      enum: 
                        - "not-found"
          500: 
            description: "Unexpected error"
            content: 
              application/json: 
                schema: 
                  type: "object"
                  additionalProperties: false
                  required: 
                    - "status"
                  properties: 
                    status: 
                      type: "string"
                      enum: 
                        - "unexpected-error"
    /areas: 
      post: 
        summary: "Create an Area"
        requestBody: 
          content: 
            application/json: 
              schema: 
                title: "POST /areas body"
                type: "object"
                required: 
                  - "name"
                  - "stationId"
                additionalProperties: false
                properties: 
                  name: 
                    type: "string"
                    minLength: 1
                  stationId: 
                    type: "string"
        responses: 
          201: 
            description: "OK"
            content: 
              application/json: 
                schema: 
                  $ref: "#/components/schemas/AreaDTODefault"
          400: 
            description: "Invalid input"
            content: 
              application/json: 
                schema: 
                  type: "object"
                  additionalProperties: false
                  required: 
                    - "status"
                  properties: 
                    status: 
                      type: "string"
                      enum: 
                        - "invalid-arguments"
          403: 
            description: "Unauthorized"
            content: 
              application/json: 
                schema: 
                  type: "object"
                  additionalProperties: false
                  required: 
                    - "status"
                  properties: 
                    status: 
                      type: "string"
                      enum: 
                        - "unauthorized"
          500: 
            description: "Unexpected error"
            content: 
              application/json: 
                schema: 
                  type: "object"
                  additionalProperties: false
                  required: 
                    - "status"
                  properties: 
                    status: 
                      type: "string"
                      enum: 
                        - "unexpected-error"
    /stations: 
      get: 
        operationId: "getStations"
        summary: "Get stations"
        parameters: 
          - 
            name: "hospitalIds"
            in: "query"
            required: false
            schema: 
              type: "string"
          - 
            name: "offset"
            in: "query"
            required: false
            schema: 
              type: "number"
              minimum: 0
              default: 0
          - 
            name: "limit"
            in: "query"
            required: false
            schema: 
              type: "number"
              minimum: 1
              default: 10
        responses: 
          200: 
            description: "OK"
            headers: 
              X-Total-Count: 
                schema: 
                  type: "integer"
            content: 
              application/json: 
                schema: 
                  type: "array"
                  items: 
                    $ref: "#/components/schemas/StationDTODefault"
          400: 
            description: "Invalid input"
            content: 
              application/json: 
                schema: 
                  type: "object"
                  additionalProperties: false
                  required: 
                    - "status"
                  properties: 
                    status: 
                      type: "string"
                      enum: 
                        - "invalid-arguments"
          401: 
            description: "Unauthorized"
            content: 
              application/json: 
                schema: 
                  type: "object"
                  additionalProperties: false
                  required: 
                    - "status"
                  properties: 
                    status: 
                      type: "string"
                      enum: 
                        - "unauthorized"
          500: 
            description: "Unexpected error"
            content: 
              application/json: 
                schema: 
                  type: "object"
                  additionalProperties: false
                  required: 
                    - "status"
                  properties: 
                    status: 
                      type: "string"
                      enum: 
                        - "unexpected-error"
      post: 
        summary: "Create a Station"
        requestBody: 
          content: 
            application/json: 
              schema: 
                title: "POST /stations body"
                type: "object"
                required: 
                  - "name"
                  - "hospitalId"
                additionalProperties: false
                properties: 
                  name: 
                    type: "string"
                    minLength: 1
                  hospitalId: 
                    type: "string"
                  meetingTimes: 
                    type: "array"
                    items: 
                      type: "object"
        responses: 
          201: 
            description: "OK"
            content: 
              application/json: 
                schema: 
                  $ref: "#/components/schemas/StationDTODefault"
          400: 
            description: "Invalid input"
            content: 
              application/json: 
                schema: 
                  type: "object"
                  additionalProperties: false
                  required: 
                    - "status"
                  properties: 
                    status: 
                      type: "string"
                      enum: 
                        - "hospital-not-found"
                        - "invalid-arguments"
          401: 
            description: "Unauthorized"
            content: 
              application/json: 
                schema: 
                  type: "object"
                  additionalProperties: false
                  required: 
                    - "status"
                  properties: 
                    status: 
                      type: "string"
                      enum: 
                        - "unauthorized"
          500: 
            description: "Unexpected error"
            content: 
              application/json: 
                schema: 
                  type: "object"
                  additionalProperties: false
                  required: 
                    - "status"
                  properties: 
                    status: 
                      type: "string"
                      enum: 
                        - "unexpected-error"
    /rooms: 
      post: 
        summary: "Create a Room"
        requestBody: 
          content: 
            application/json: 
              schema: 
                title: "POST /rooms body"
                type: "object"
                required: 
                  - "name"
                  - "stationId"
                additionalProperties: false
                properties: 
                  name: 
                    type: "string"
                    minLength: 1
                  stationId: 
                    type: "string"
        responses: 
          201: 
            description: "OK"
            content: 
              application/json: 
                schema: 
                  $ref: "#/components/schemas/RoomDTODefault"
          400: 
            description: "Invalid input"
            content: 
              application/json: 
                schema: 
                  type: "object"
                  additionalProperties: false
                  required: 
                    - "status"
                  properties: 
                    status: 
                      type: "string"
                      enum: 
                        - "invalid-arguments"
          401: 
            description: "Unauthorized"
            content: 
              application/json: 
                schema: 
                  type: "object"
                  additionalProperties: false
                  required: 
                    - "status"
                  properties: 
                    status: 
                      type: "string"
                      enum: 
                        - "unauthorized"
          500: 
            description: "Unexpected error"
            content: 
              application/json: 
                schema: 
                  type: "object"
                  additionalProperties: false
                  required: 
                    - "status"
                  properties: 
                    status: 
                      type: "string"
                      enum: 
                        - "unexpected-error"
      get: 
        operationId: "getRooms"
        summary: "Get rooms"
        parameters: 
          - 
            name: "stationIds"
            in: "query"
            schema: 
              type: "string"
          - 
            name: "offset"
            in: "query"
            required: false
            schema: 
              type: "number"
              minimum: 0
              default: 0
          - 
            name: "limit"
            in: "query"
            required: false
            schema: 
              type: "number"
              minimum: 1
              default: 10
        responses: 
          200: 
            description: "OK"
            headers: 
              X-Total-Count: 
                schema: 
                  type: "integer"
            content: 
              application/json: 
                schema: 
                  type: "array"
                  items: 
                    $ref: "#/components/schemas/RoomDTODefault"
          400: 
            description: "Invalid input"
            content: 
              application/json: 
                schema: 
                  type: "object"
                  additionalProperties: false
                  required: 
                    - "status"
                  properties: 
                    status: 
                      type: "string"
                      enum: 
                        - "invalid-arguments"
          401: 
            description: "Unauthorized"
            content: 
              application/json: 
                schema: 
                  type: "object"
                  additionalProperties: false
                  required: 
                    - "status"
                  properties: 
                    status: 
                      type: "string"
                      enum: 
                        - "unauthorized"
          500: 
            description: "Unexpected error"
            content: 
              application/json: 
                schema: 
                  type: "object"
                  additionalProperties: false
                  required: 
                    - "status"
                  properties: 
                    status: 
                      type: "string"
                      enum: 
                        - "unexpected-error"
    /rooms/{id}: 
      get: 
        operationId: "getRoom"
        summary: "Get room"
        parameters: 
          - 
            name: "id"
            in: "path"
            required: true
            schema: 
              type: "string"
        responses: 
          200: 
            description: "OK"
            content: 
              application/json: 
                schema: 
                  $ref: "#/components/schemas/RoomDTODefault"
          400: 
            description: "Invalid input"
            content: 
              application/json: 
                schema: 
                  type: "object"
                  additionalProperties: false
                  required: 
                    - "status"
                  properties: 
                    status: 
                      type: "string"
                      enum: 
                        - "invalid-arguments"
          401: 
            description: "Unauthorized"
            content: 
              application/json: 
                schema: 
                  type: "object"
                  additionalProperties: false
                  required: 
                    - "status"
                  properties: 
                    status: 
                      type: "string"
                      enum: 
                        - "unauthorized"
          404: 
            description: "Not found"
            content: 
              application/json: 
                schema: 
                  type: "object"
                  additionalProperties: false
                  required: 
                    - "status"
                  properties: 
                    status: 
                      type: "string"
                      enum: 
                        - "not-found"
          500: 
            description: "Unexpected error"
            content: 
              application/json: 
                schema: 
                  type: "object"
                  additionalProperties: false
                  required: 
                    - "status"
                  properties: 
                    status: 
                      type: "string"
                      enum: 
                        - "unexpected-error"
    /beds: 
      get: 
        operationId: "getBeds"
        summary: "Get beds"
        parameters: 
          - 
            name: "stationIds"
            in: "query"
            schema: 
              type: "string"
          - 
            name: "roomIds"
            in: "query"
            schema: 
              type: "string"
          - 
            name: "offset"
            in: "query"
            required: false
            schema: 
              type: "number"
              minimum: 0
              default: 0
          - 
            name: "limit"
            in: "query"
            required: false
            schema: 
              type: "number"
              minimum: 1
              default: 10
        responses: 
          200: 
            description: "OK"
            headers: 
              X-Total-Count: 
                schema: 
                  type: "integer"
            content: 
              application/json: 
                schema: 
                  type: "array"
                  items: 
                    $ref: "#/components/schemas/BedDTODefault"
          400: 
            description: "Invalid input"
            content: 
              application/json: 
                schema: 
                  type: "object"
                  additionalProperties: false
                  required: 
                    - "status"
                  properties: 
                    status: 
                      type: "string"
                      enum: 
                        - "invalid-arguments"
          401: 
            description: "Unauthorized"
            content: 
              application/json: 
                schema: 
                  type: "object"
                  additionalProperties: false
                  required: 
                    - "status"
                  properties: 
                    status: 
                      type: "string"
                      enum: 
                        - "unauthorized"
          500: 
            description: "Unexpected error"
            content: 
              application/json: 
                schema: 
                  type: "object"
                  additionalProperties: false
                  required: 
                    - "status"
                  properties: 
                    status: 
                      type: "string"
                      enum: 
                        - "unexpected-error"
      post: 
        summary: "Create a Bed"
        requestBody: 
          content: 
            application/json: 
              schema: 
                title: "POST /beds body"
                type: "object"
                required: 
                  - "name"
                  - "roomId"
                additionalProperties: false
                properties: 
                  name: 
                    type: "string"
                    minLength: 1
                  roomId: 
                    type: "string"
        responses: 
          201: 
            description: "OK"
            content: 
              application/json: 
                schema: 
                  $ref: "#/components/schemas/BedDTODefault"
          400: 
            description: "Invalid input"
            content: 
              application/json: 
                schema: 
                  type: "object"
                  additionalProperties: false
                  required: 
                    - "status"
                  properties: 
                    status: 
                      type: "string"
                      enum: 
                        - "invalid-arguments"
          403: 
            description: "Unauthorized"
            content: 
              application/json: 
                schema: 
                  type: "object"
                  additionalProperties: false
                  required: 
                    - "status"
                  properties: 
                    status: 
                      type: "string"
                      enum: 
                        - "unauthorized"
          500: 
            description: "Unexpected error"
            content: 
              application/json: 
                schema: 
                  type: "object"
                  additionalProperties: false
                  required: 
                    - "status"
                  properties: 
                    status: 
                      type: "string"
                      enum: 
                        - "unexpected-error"
    /beds/{id}: 
      get: 
        operationId: "getBed"
        summary: "Get bed"
        parameters: 
          - 
            name: "id"
            in: "path"
            required: true
            schema: 
              type: "string"
        responses: 
          200: 
            description: "OK"
            content: 
              application/json: 
                schema: 
                  $ref: "#/components/schemas/BedDTODefault"
          400: 
            description: "Invalid input"
            content: 
              application/json: 
                schema: 
                  type: "object"
                  additionalProperties: false
                  required: 
                    - "status"
                  properties: 
                    status: 
                      type: "string"
                      enum: 
                        - "invalid-arguments"
          401: 
            description: "Unauthorized"
            content: 
              application/json: 
                schema: 
                  type: "object"
                  additionalProperties: false
                  required: 
                    - "status"
                  properties: 
                    status: 
                      type: "string"
                      enum: 
                        - "unauthorized"
          404: 
            description: "Not found"
            content: 
              application/json: 
[...]
